@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600;1,700&display=swap");

:root {
  --bg: #fefbea;
  --fg: black;
  --accent: dark blue;
  --font-family: "Montserrat";
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font-family);
  padding: 4em 3em;
  /* Optimal spacing for people with dyslexia. */
  word-spacing: 1.225ch;
  letter-spacing: 0.35ch;
}

a {
  text-decoration: none;
  color: var(--fg);
}

#logo {
  width: 200px;
  position: absolute;
  left: 10px;
  top: 10px;
}

button {
  color: var(--fg);
  background-color: var(--bg);
  border-color: var(--fg);
  border-radius: 2em;
  font-family: var(--font-family);
  font-weight: 600;
  padding: 10px;
  outline: none;
}

button:hover {
  color: var(--bg);
  background-color: var(--fg);
}
