#image-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#word {
  text-transform: uppercase;
  letter-spacing: 0.7em;
  font-size: 4em;
  margin-bottom: 0.3em;
}

#new-word {
  font-size: 1em;
}

#word-img {
  height: 15em;
}
