main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#image-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  margin-left: 10%;
}

#word {
  text-transform: uppercase;
  letter-spacing: 0.7em;
  font-size: 4em;
  margin-bottom: 0.3em;
}

#new-word {
  font-size: 1em;
  margin-top: 0.5em;
}

#word-img {
  height: 15em;
}

#sidebar {
  width: 20%;
}

.options ul li{
  list-style-type: none;
}

#sidebar ul li{
  
  border-color: var(--fg);
  border-style: solid;
  border-width: 2%;
  padding: 1em;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 0.5em;
  font-weight: 500; 
}

#sidebar ul li:hover{
  cursor:pointer;
  animation: shake 0.8s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.options {
  text-transform: uppercase;
  text-decoration: none;
  line-height: 2em;
  font-size: 2em;
}


#progress-bar {
  background-color: var(--bg);
  border-color: var(--fg);
  border-style: solid;
  border-radius: 2em;
  border-width: 2px;
  height: 10px;
  width: 100%;
}

#progress-interior {
  background-color: #00ff00;
  width: 0%;
  height: 100%;
  border-radius: 2em;
  z-index: -10;
}

