<html>
<header>
    <title>Super Readers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='book.css') }}" />
</header>

<a href="/"><img id="logo" src="{{ url_for('static', filename='assets/Super-readers-logo.png') }}" /></a>

<body>
    {% if story %}
    <h1 class="title">{{ story }}</h1>
    {% else %}
    <h1>Story not found.</h1>
    {% endif %}

    <main class="main-container">
        {% if story %} {{ story_contents | safe}} {% endif %}
        <a id="back-link" href="/reading"><-- Select a new book</a>
    </main>
</body>

</html>
