<html>
<header>
    <title>Super Readers</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
    <script type="text/javascript">
        function change_font(font_name) {
            document.documentElement.style.setProperty("--font-family", font_name);
        }
    </script>
</header>

<a href="/"><img id="logo" src="{{ url_for('static', filename='assets/Super-readers-logo.png') }}" /></a>

<body>
    <h1>Customize</h1>
    <main>
        <h2>Select your favourite font!</h2>
        <ul>
            <li onclick="change_font('Montserrat')" class="font">Montserrat</li>
            <li onclick="change_font('Poppins')" class="font">Poppins</li>
            <li onclick="change_font('Noto Sans')" class="font">Noto Sans</li>
            <li onclick="change_font('Comic Neue')" class="font">Comic Neue</li>
        </ul>
    </main>
</body>

</html>
