<html>
<header>
    <title>Super Readers</title>
    <link rel="stylesheet" href="static/index.css" />
    <link rel="stylesheet" href="static/global.css" />
</header>

<img id="logo" src="static/assets/Super-readers-logo.png" />

<body>
    <main>
        <div class="main-container">
            <div id="about" class="box">
                <h2>About Super Readers</h2>
                <p>Lorem ipsum doler sit amet.</p>
            </div>
            <div class="stack-container">
                <a href="/reading">
                    <div id="reading" class="box">
                        <h2>Click here to read!</h2>
                    </div>
                </a>
                <a href="/spelling">
                    <div id="spelling" class="box">
                        <h2>Click here to spell!</h2>
                    </div>
                </a>
            </div>
        </div>
    </main>
</body>

</html>
