<html>
<header>
    <title>Super Readers</title>
    <link rel="stylesheet" href="static/global.css" />
    <link rel="stylesheet" href="static/reading.css" />
</header>

<a href="/"><img id="logo" src="static/assets/Super-readers-logo.png" /></a>

<body>
    <div class="main-container">
        <h1 class="title"> STORY BOOKS</h1>
        <div class="buttons">
            <a href="reading/TheMedicineBag">
                <div id="book" class="book">
                    <button class = "button"> Medicine Bag</button>
                </div>
            </a>

            <a href="reading/LambToSlaughter">
                <div id="book" class="book">
                    <button class="button"> Lamb to Slaughter</button>
                </div>
            </a>

            <a href="reading/NiagaraFalls">
                <div id="book" class="book">
                    <button class="button"> Niagara Falls, Or Does it? </button>
                </div>
            </a>
        </div>
</body>

</html>
