<html>
<header>
    <title>Super Readers</title>
    <link rel="stylesheet" href="static/global.css" />
    <link rel="stylesheet" href="static/reading.css" />
</header>

<body>
    <h1>Reading</h1>
    <div class="main-container">
        <div id="about" class="box">
            <a href="/TheMedicineBag">
                <div id="book" class="book">
                    <h2>The Medicine Bag</h2>
                </div>
            </a>
            
            <a href="/TheMedicineBag">
                <div id="book" class="book">
                    <h2>The Medicine Bag</h2>
                </div>
            </a>

            <p class="dyslexia-mode" font-size="16pt" width="90%" direction="up" height="90%">
                My kid sister Cheryl and I always bragged about our Sioux grandpa, Joe Iron Shell. Our friends,
                who had always lived in the city and only knew about Indians from movies and TV, were
                impressed by our stories. Maybe we exaggerated and made Grandpa and the reservation sound
                glamorous, but when we’d return home to Iowa after our yearly summer visit to Grandpa, we
                always had some exciting tale to tell.
                We always had some authentic Sioux article to show our listeners. One year Cheryl had new
                moccasins that Grandpa had made. On another visit he gave me a small, round, flat rawhide
                drum which was decorated with a painting of a warrior riding a horse. He taught me a real Sioux
                chant to sing while I beat the drum with a leather-covered stick that had a feather on the end.
                Man, that really made an impression.
                We never showed our friends Grandpa’s picture. Not that we were ashamed of him, but because
                we knew that the glamorous tales we told didn’t go with the real thing. Our friends would have
                laughed at the picture, because Grandpa wasn’t tall and stately like TV Indians. His hair wasn’t
                in braids but hung in stringy gray strands on his neck, and he was old. He was our greatgrandfather, and he didn’t live in a tepee, but all by himself in a part log, part tar-paper shack on
                the Rosebud Reservation in South Dakota. So when Grandpa came to visit us, I was so ashamed
                and embarrassed I could’ve died.
                There are a lot of yippy poodles and other fancy little dogs in our neighborhood, but they usually
                barked singly at the mailman from the safety of their own yards. Now it sounded as if a whole
                pack of mutts were barking together in one place.
                I got up and walked to the curb to see what the commotion was. About a block away I saw a
                crowd of little kids yelling, with the dogs yipping and growling around someone who was
                walking down the middle of the street.
                I watched the group as it slowly came closer and saw that in the center of the strange procession
                was a man wearing a tall black hat. He’d pause now and then to peer at something in his hand
                and then at the houses on either side of the street. I felt cold and hot at the same time as I
                recognized the man. “Oh, no!” I whispered. “It’s Grandpa!”
                I stood on the curb, unable to move even though I wanted to run and hide. Then I got mad when I
                saw how the yippy dogs were growling and nipping at the old man’s baggy pant legs and how
                wearily he poked them away with his cane. “Stupid mutts,” I said as I ran to rescue Grandpa.
                When I kicked and hollered at the dogs to get away, they put their tails between their legs and
                scattered. The kids ran to the curb, where they watched me and the old man.
                “Grandpa,” I said, and felt pretty dumb when my voice cracked. I reached for his beat-up old tin
                suitcase, which was tied shut with a rope. But he set it down right in the street and shook my
                hand.
                “Hau, Takoza, Grandchild,” he greeted me formally in Sioux.
                All I could do was stand there with the whole neighborhood watching and shake the hand of the
                leather-brown old man. I saw how his gray hair straggled from under his big black hat, which
                had a drooping feather in its crown. His rumpled black suit hung like a sack over his stooped
                frame. As he shook my hand, his coat fell open to expose a bright-red satin shirt with a beaded
                bolo tie under the collar. His get-up wasn’t out of place on the reservation, but it sure was here,
                and I wanted to sink right through the pavement.
                “Hi,” I muttered with my head down. I tried to pull my hand away when I felt his bony hand
                trembling, and looked up to see fatigue in his face. I felt like crying. I couldn’t think of anything
                to say, so I picked up Grandpa’s suitcase, took his arm, and guided him up the driveway to our
                house.
                Mom was standing on the steps. I don’t know how long she’d been watching, but her hand was
                over her mouth and she looked as if she couldn’t believe what she saw. Then she ran to us.
                “Grandpa,” she gasped. “How in the world did you get here?”
                She checked her move to embrace Grandpa, and I remembered that such a display of affection is
                unseemly to the Sioux and would embarrass him.
                “Hau, Marie,” he said as he shook Mom’s hand. She smiled and took his other arm.
                As we supported him up the steps, the door banged open and Cheryl came bursting out of the
                house. She was all smiles and was so obviously glad to see Grandpa that I was ashamed of how I
                felt.
                “Grandpa!” she yelled happily. “You came to see us!”
                Grandpa smiled and Mom and I let go of him as he stretched out his arms to my ten-year-old
                sister, who was still young enough to be hugged.
                “Wicincala, little girl,” he greeted her, and then collapsed.
                He had fainted. Mom and I carried him into her sewing room, where we had a spare bed.
                After we had Grandpa on the bed, Mom stood there helplessly patting his shoulder.
                “Shouldn’t we call the doctor, Mom?” I suggested, since she didn’t seem to know what to do.
                “Yes,” she agreed, with a sigh. “You make Grandpa comfortable, Martin.”
                I reluctantly moved to the bed. I knew Grandpa wouldn’t want to have Mom undress him, but I
                didn’t want to, either. He was so skinny and frail that his coat slipped off easily. When I
                loosened his tie and opened his shirt collar, I felt a small leather pouch that hung from a thong
                around his neck. I left it alone and moved to remove his boots. The scuffed old cowboy boots
                were tight and he moaned as I put pressure on his legs to jerk them off. I put the boots on the
                floor and saw why they fit so tight. Each one was stuffed with money. I looked at the bills that
                lined the boots and started to ask about them, but Grandpa’s eyes were closed again.
                Mom came back with a basin of water. “The doctor thinks Grandpa is suffering from heat
                exhaustion,” she explained as she bathed Grandpa’s face. Mom gave a big sigh, “Oh hinh,
                Martin. How do you suppose he got here?”
                We found out after the doctor’s visit. Grandpa was angrily sitting up in bed while Mom tried to
                feed him some soup.
                “Tonight you let Marie feed you, Grandpa,” spoke my dad, who had gotten home from work just
                as the doctor was leaving.
                “You’re not really sick,” he said as he gently pushed Grandpa back against the pillows. “The
                doctor said you just got too tired and hot after your long trip.”
                Grandpa relaxed, and between sips of soup he told us of his journey. Soon after our visit to him
                Grandpa decided that he would like to see where his only living descendants lived and what our
                home was like. Besides, he admitted sheepishly, he was lonesome after we left.
                I knew everybody felt as guilty as I did—especially Mom. Mom was all Grandpa had left. So
                even after she married my dad, who’s a white man and teaches in the college in our city, and
                after Cheryl and I were born, Mom made sure that every summer we spent a week with
                Grandpa.
                I never thought that Grandpa would be lonely after our visits, and none of us noticed how old
                and weak he had become. But Grandpa knew and so he came to us. He had ridden on buses for
                two and a half days. When he arrived in the city, tired and stiff from sitting for so long, he set
                out, walking, to find us.
                He had stopped to rest on the steps of some building downtown and a policeman found him. The
                cop, according to Grandpa, was a good man who took him to the bus stop and waited until the
                bus came and told the driver to let Grandpa out at Bell View Drive. After Grandpa got off the
                bus, he started walking again. But he couldn’t see the house numbers on the other side when he
                walked on the sidewalk, so he walked in the middle of the street. That’s when all the little kids
                and dogs followed him.
                I knew everybody felt as bad as I did. Yet I was proud of this eighty-six-year-old man, who had
                never been away from the reservation, having the courage to travel so far alone.
                “You found the money in my boots?” he asked Mom.
                “Martin did,” she answered, and roused herself to scold. “Grandpa, you shouldn’t have carried so
                much money. What if someone had stolen it from you?”
                Grandpa laughed. “I would’ve known if anyone tried to take the boots off my feet. The money is
                what I’ve saved for a long time—a hundred dollars—for my funeral. But you take it now to buy
                groceries so that I won’t be a burden to you while I am here.”
                “That won’t be necessary, Grandpa,” Dad said. “We are honored to have you with us and you
                will never be a burden. I am only sorry that we never thought to bring you home with us this
                summer and spare you the discomfort of a long trip.”
                Grandpa was pleased. “Thank you,” he answered. “But do not feel bad that you didn’t bring me
                with you, for I would not have come then. It was not time.” He said this in such a way that no
                one could argue with him. To Grandpa and the Sioux, he once told me, a thing would be done
                when it was the right time to do it and that’s the way it was.
                “Also,” Grandpa went on, looking at me, “I have come because it is soon time for Martin to have
                the medicine bag.”
                We all knew what that meant. Grandpa thought he was going to die and he had to follow the
                tradition of his family to pass the medicine bag, along with its history, to the oldest male child.
                “Even though the boy,” he said, still looking at me, “bears a white man’s name, the medicine bag
                will be his.”
                I didn’t know what to say. I had the same hot and cold feeling that I had when I first saw
                Grandpa in the street. The medicine bag was the dirty leather pouch I had found around his neck.
                “I could never wear such a thing,” I almost said aloud. I thought of having my friends see it in
                gym class, at the swimming pool, and could imagine the smart things they would say. But I just
                swallowed hard and took a step toward the bed. I knew I would have to take it.
                But Grandpa was tired. “Not now, Martin,” he said, waving his hand in dismissal, “it is not time.
                Now I will sleep.”
                So that’s how Grandpa came to be with us for two months. My friends kept asking to come see
                the old man, but I put them off. I told myself that I didn’t want them laughing at Grandpa. But
                even as I made excuses, I knew it wasn’t Grandpa that I was afraid they’d laugh at.
                Nothing bothered Cheryl about bringing her friends to see Grandpa. Every day after school
                started, there’d be a crew of giggling little girls or round-eyed little boys crowded around the old
                man on the patio, where he’d gotten in the habit of sitting every afternoon.
                Grandpa would smile in his gentle way and patiently answer their questions, or he’d tell them
                stories of brave warriors, ghosts, animals, and the kids listened in awed silence. Those little guys
                thought Grandpa was great.
                Finally, one day after school, my friends came home with me because nothing I said stopped
                them. “We’re going to see the great Indian of Bell View Drive,” said Hank, who was supposed to
                be my best friend. “My brother has seen him three times, so he oughta be well enough to see
                us.”
                When we got to my house, Grandpa was sitting on the patio. He had on his red shirt, but today he
                also wore a fringed leather vest that was decorated with beads. Instead of his usual cowboy boots
                he had solidly beaded moccasins on his feet that stuck out of his black trousers. Of course, he
                had his old black hat on—he was seldom without it. But it had been brushed and the feather in
                the beaded headband was proudly erect, its tip a brighter white. His hair lay in silver strands over
                the red shirt collar.
                I stared just as my friends did and I heard one of them murmur, “Wow!”
                Grandpa looked up and when his eyes met mine, they twinkled as if he were laughing inside. He
                nodded to me and my face got all hot. I could tell that he had known all along I was afraid he’d
                embarrass me in front of my friends.
                “Hau, hoksilas, boys,” he greeted, and held out his hand.
                My buddies passed in a single file and shook his hand as I introduced them. They were so polite I
                almost laughed. “How, there, Grandpa,” and even a “How do you do, sir.”
                “You look fine, Grandpa,” I said as the guys sat on the lawn chairs or on the patio floor.
                “Hanh, yes,” he agreed. “When I woke up this morning, it seemed the right time to dress in the
                good clothes. I knew that my grandson would be bringing his friends.”
                “You guys want some lemonade or something?” I offered. No one answered. They were listening
                to Grandpa as he started telling how he’d killed the deer from which his vest was made.
                Grandpa did most of the talking while my friends were there. I was so proud of him and amazed
                at how respectfully quiet my buddies were. Mom had to chase them home at suppertime. As they
                left, they shook Grandpa’s hand again and said to me:
                “Martin, he’s really great!”
                “Yeah, man! Don’t blame you for keeping him to yourself.”
                “Can we come back?”
                But after they left, Mom said, “No more visitors for a while, Martin. Grandpa won’t admit it, but
                his strength hasn’t returned. He likes having company, but it tires him.”
                That evening Grandpa called me to his room before he went to sleep. “Tomorrow,” he said,
                “when you come home, it will be time to give you the medicine bag.”
                I felt a hard squeeze from where my heart is supposed to be and was scared, but I answered,
                “OK, Grandpa.”
                All night I had weird dreams about thunder and lightning on a high hill. From a distance I heard
                the slow beat of a drum. When I woke up in the morning, I felt as if I hadn’t slept at all. At
                school it seemed as if the day would never end and when it finally did, I ran home.
                Grandpa was in his room, sitting on the bed. The shades were down and the place was dim and
                cool. I sat on the floor in front of Grandpa, but he didn’t even look at me. After what seemed a
                long time, he spoke.
                “I sent your mother and sister away. What you will hear today is only for a man’s ears. What you
                will receive is only for a man’s hands.” He fell silent and I felt shivers down my back.
                “My father in his early manhood,” Grandpa began, “made a vision quest to find a spirit guide for
                his life. You cannot understand how it was in that time, when the great Teton Sioux were first
                made to stay on the reservation. There was a strong need for guidance from Wakantanka, the
                Great Spirit. But too many of the young men were filled with despair and hatred. They thought it
                was hopeless to search for a vision when the glorious life was gone and only the hated confines
                of a reservation lay ahead. But my father held to the old ways.
                “He carefully prepared for his quest with a purifying sweat bath and then he went alone to a high
                butte top to fast and pray. After three days he received his sacred dream—in which he found,
                after long searching, the white man’s iron. He did not understand his vision of find-ing
                something belonging to the white people, for in that time they were the enemy. When he came
                down from the butte to cleanse himself at the stream below, he found the remains of a campfire
                and the broken shell of an iron kettle. This was a sign which reinforced his dream. He took a
                piece of the iron for his medicine bag, which he had made of elk skin years before, to prepare for
                his quest.
                “He returned to his village, where he told his dream to the wise old men of the tribe. They gave
                him the name Iron Shell, but neither did they understand the meaning of the dream. This first
                Iron Shell kept the piece of iron with him at all times and believed it gave him protection from
                the evils of those unhappy days.
                “Then a terrible thing happened to Iron Shell. He and several other young men were taken from
                their homes by the soldiers and sent far away to a white man’s boarding school. He was angry
                and lonesome for his parents and the young girl he had wed before he was taken away. At first
                Iron Shell resisted the teachers’ attempts to change him and he did not try to learn. One day it
                was his turn to work in the school’s blacksmith shop. As he walked into the place, he knew that
                his medicine had brought him there to learn and work with the white man’s iron.
                “Iron Shell became a blacksmith and worked at the trade when he returned to the reservation. All
                of his life he treasured the medicine bag. When he was old and I was a man, he gave it to me, for
                no one made the vision quest anymore.”
                Grandpa quit talking and I stared in disbelief as he covered his face with his hands. His shoulders
                were shaking with quiet sobs and I looked away until he began to speak again.
                “I kept the bag until my son, your mother’s father, was a man and had to leave us to fight in the
                war across the ocean. I gave him the bag, for I believed it would protect him in battle, but he did
                not take it with him. He was afraid that he would lose it. He died in a faraway place.”
                Again Grandpa was still and I felt his grief around me.
                “My son,” he went on after clearing his throat, “had only a daughter and it is not proper for her to
                know of these things.”
                He unbuttoned his shirt, pulled out the leather pouch, and lifted it over his head. He held it in his
                hand, turning it over and over as if memorizing how it looked.
                “In the bag,” he said as he opened it and removed two objects, “is the broken shell of the iron
                kettle, a pebble from the butte, and a piece of the sacred sage.” He held the pouch upside down
                and dust drifted down.
                “After the bag is yours, you must put a piece of prairie sage within and never open it again until
                you pass it on to your son.” He replaced the pebble and the piece of iron and tied the bag.
                I stood up, somehow knowing I should. Grandpa slowly rose from the bed and stood upright in
                front of me, holding the bag before my face. I closed my eyes and waited for him to slip it over
                my head. But he spoke.
                “No, you need not wear it.” He placed the soft leather bag in my right hand and closed my other
                hand over it. “It would not be right to wear it in this time and place, where no one will
                understand. Put it safely away until you are again on the reservation.
                Wear it then, when you replace the sacred sage.”
                Grandpa turned and sat again on the bed. Wearily he leaned his head against the pillow. “Go,” he
                said, “I will sleep now.”
                “Thank you, Grandpa,” I said softly, and left with the bag in my hands.
                That night Mom and Dad took Grandpa to the hospital. Two weeks later I stood alone on the
                lonely prairie of the reservation and put the sacred sage in my medicine bag. 
            </marquee>
        </div>
</body>

</html>
