<html>
<header>
    <title>Super Readers</title>
    <link rel="stylesheet" href="static/global.css" />
    <link rel="stylesheet" href="static/spelling.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
    <script type="text/javascript">
        var API_URL = {{url_for("wordbank_api", wordbank = "fruits") | tojson  }};
        var category = "fruits";
        var current_pos = 0;
        var current_word = null;
        var progress_width = 0;
        var progress_increment = 10;
        document.addEventListener("keydown", update_word_display);

        function change_category(new_category) {
            API_URL = API_URL.replace(category, new_category);
            category = new_category;
            display_new_word();
        }

        function add_spans(word) {
            const WORD_BOX = document.getElementById("word");
            for (var i = 0; i < word.length; i++) {
                var span = document.createElement("span");
                span.textContent = word[i];
                WORD_BOX.appendChild(span);
            }
        }

        function update_word_display(e) {
            if (typed_char(e)) {
                document.getElementById("word").childNodes[current_pos].style.color = "#00ff00";
                if (current_pos < current_word.length - 1) {
                    current_pos++;
                } else {
                    progress_width += progress_increment;

                    if (progress_width == 100) {
                        confetti({
                            particleCount: 100,
                            spread: 70,
                            origin: {y: 0.6},
                        });
                        progress_width = 0;
                    }

                    document.getElementById("progress-interior").style.width = progress_width + "%";
                    display_new_word();
                }
            } else {
                document.getElementById("word").childNodes[current_pos].style.color = "red";
            }
        }

        function typed_char(e) {
            const letter = String.fromCharCode(e.which);
            if (current_pos == current_word.length) {return false;}
            return letter === current_word[current_pos].toUpperCase();
        }

        function display_new_word() {
            const WORD_BOX = document.getElementById("word");
            const WORD_IMAGE = document.getElementById("word-img");
            fetch(API_URL)
                .then((response) => {
                    response.json().then(word_data => {
                        WORD_BOX.innerHTML = ""; // Clear inner children
                        current_pos = 0;
                        WORD_IMAGE.src = word_data.path;
                        add_spans(word_data.word);
                        current_word = word_data.word;
                    })
                })
        }
    </script>
</header>

<a href="/"><img id="logo" src="static/assets/Super-readers-logo.png" /></a>

<body onload="display_new_word()">
    <main>
        <div id="image-display">
            <img id="word-img" src="static/assets/Apple.png" />
            <h2 id="word">WORD</h2>
            <p>Start typing to try spelling the word!</p>
            <div id="progress-bar">
                <div id="progress-interior"></div>
            </div>
            <button id="new-word" onclick="display_new_word()">New Word!</button>
        </div>
        <div id="sidebar">
            <ul class="options">
                <li onclick="change_category('fruits')">Fruits</li>
                <li onclick="change_category('animals')">Animals</li>
                <li onclick="change_category('countries')">Countries</li>
            </ul>
        </div>
    </main>
</body>

</html>
